.normal-border {
  border-width: 0.5px;
  border-style: solid;
  border-color: transparent;
}

.normal-border:hover {
  border-width: 0.5px;
  border-color: #d3d3d380;
}
.normal-border.focused {
  border-width: 0.5px;
  border-color: #d3d3d380;
}

.cross-icon {
  display: none;
}

.group:hover .cross-icon,
.group:focus-within .cross-icon {
  display: inline-block;
}

.cross-icon:hover {
  filter: brightness(0) saturate(100%) invert(21%) sepia(100%) saturate(7458%) hue-rotate(349deg) brightness(91%)
    contrast(108%);
}
.cross-icon.default {
  filter: none;
}

.color-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 19px;
  height: 21px;
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}
.color-input::-webkit-color-swatch {
  border-radius: 3px;
  border: none;
}
.color-input::-moz-color-swatch {
  border-radius: 3px;
  border: none;
}
.color-input:focus {
  background-color: transparent;
  border: none;
}

.input-custom::placeholder {
  color: #ffffff;
}

.input-custom:focus::placeholder {
  color: #4f4f4f;
}

/* Chrome, Safari, Edge, Opera */
.input-custom::-webkit-outer-spin-button,
.input-custom::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.input-custom[type="number"] {
  -moz-appearance: textfield;
}

.input-border {
  border: 1px solid transparent;
  transition: border-color 0.3s ease;
}

.input-border.hovered {
  border-color: #d3d3d380;
}

.input-border.focused {
  border-color: #4cb8c480;
}

.select-trigger {
  display: flex;
  height: 2.5rem;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  border-radius: 0.375rem;
  padding: 0.75rem;
  font-size: 0.875rem;
  background-color: transparent;
  border: 1px solid transparent;
  color: white;
  position: relative;
  transition: border-color 0.2s ease-in-out;
}

.select-trigger:hover {
  border-color: #d3d3d380;
}

.select-trigger.focus-within {
  border-color: #4abbc1;
}

.select-icon {
  height: 1rem;
  width: 1rem;
  padding-left: 0.3rem;
  padding-right: 0rem;
  transition: opacity 0.2s ease-in-out;
  opacity: 0;
}

.select-trigger:hover .select-icon,
.select-trigger.focus-within .select-icon {
  opacity: 1;
}
